#signin {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 30%;
        }

        form {
            padding: 1rem;

            .content {
                display: grid;
                gap: 1rem 2rem;
                grid-template-columns: 1fr;
                grid-template-areas: "email" "password" "remember" "button" "forgot" "hr" "external";

                #form-email {
                    grid-area: email;
                }

                #form-password {
                    grid-area: password;
                }

                #form-remember {
                    grid-area: remember;
                    padding: 1rem 0;
                    justify-content:left;
                }

                #form-submit {
                    grid-area: button;
                }

                #form-forgot-password {
                    width: 100%;
                    grid-area: forgot;
                    text-align: center;
                    margin: 1rem 0 0 0;
                }

                hr {
                    grid-area: hr
                }

                #external-signin {
                    grid-area: external;
                    display: flex;
                    gap: 1rem;

                    accent-color {
                        flex: 1;
                    }
                }
            }


        }
    }

}