form {
    width 100%;
    display: grid;

    .input-group {
        display: grid;
    }

    .checkbox-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        input[type="checkbox"] {
            height: 1.2rem;
            width: 1.2rem;
            border: 0.063rem solid red;
        }

        label {
            margin: 0;
            font-weight: 400;
        }
    }

    label {
        margin-bottom: 0.188rem;
        font-weight: 700;
    }

    input {
        padding: 1rem;
        border-radius: 0.5rem !important;
    }
}