html, body {
    
    margin: 0; /* Tar bort standardmarginaler */
    padding: 0; /* Tar bort standardpadding */
    font-size: 16px;
    @include standard-text;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height:100vh;
}

.text-xs { @include text-xs; }
.text-s { @include text-s; }
.text-m { @include text-m; }
.text-lg { @include text-lg; }
.text-xl { @include text-xl; }
.text-lead { @include text-lead; }

.d1, h1 { @include h1; }
.d2, h2 { @include h2; }
.d3, h3 { @include h3; }
.d4, h4 { @include h4; }
.d5, h5 { @include h5; }
.d6, h6 { @include h6; }